/*General*/
#header{
    position: sticky;
    top: 0;
}

.navegation__list{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
}

.navegation__list__item{
    display: inline;
    float: left;
}

.navegation__list__item .navegation__list__link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navegation__list__item .navegation__list__link:hover {
    background-color: rgb(75, 75, 75);
}

/*Carrito*/
.navegation__list__item_0{
    display: inline;
    float: right;
}

.navegation__list__item_0 .navegation__list__link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navegation__list__item_0 .navegation__list__link:hover {
    background-color: rgb(75, 75, 75);
}

/*Usuario*/
.navegation__list__item_1{
    display: inline;
    float: right;
}

.navegation__list__item_1 .navegation__list__link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navegation__list__item_1 .navegation__list__link:hover {
    background-color: rgb(75, 75, 75);
}

/*nombre de usuario*/
#item_nombre{
    display: inline;
    float: right;
    margin-right: 10px;
    margin-left: 4px;
}

#nombre_usuario{
    color: white;
}

/*Cerrar sesion*/
#cerrar_sesion{
    display: inline;
    float: right;
}

#cerrar_sesion__link{
    color: white;
    margin-right: 10px;
    background-color: rgb(75, 75, 75);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
}

#cerrar_sesion__link:hover{
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(34, 34, 34);
    border-radius: 4px;
}

.nav__list__link{
    text-decoration: none;
    
}