@import 'navigation.css';
@import 'banner.css';
@import 'footer.css';

body{
    margin: 10px 0px;
}

/*separador*/
/*el color negro en el separador es mientras tanto.*/
.separador{
    border-top: 1px solid black;
    margin-top: 10px 0px;
}


