.login__link{
    font-family: verdana, sans-serif;
}

.car__link{
    font-family: verdana, sans-serif;
}

#header{
    font-family: verdana, sans-serif;
}

#body{
    font-family: verdana, sans-serif;
}

#footer{
    font-family: verdana, sans-serif;
}

/*Sign-in*/
.header{
    font-family: verdana, sans-serif;
}

.body{
    font-family: verdana, sans-serif;
}

/*Login*/

#header__login{
    font-family: verdana, sans-serif;
}

#body__login{
    font-family: verdana, sans-serif;
}