.login__link{
    font-family: verdana, sans-serif;
}

.car__link{
    font-family: verdana, sans-serif;
}

#header{
    font-family: verdana, sans-serif;
}

#body{
    font-family: verdana, sans-serif;
}

#footer{
    font-family: verdana, sans-serif;
}