.footer{
    background-color: rgb(45, 96, 115);
    color: white;
    padding: 10px 0px 0px 0px;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-redes{
    margin: 10px;
}

.footer-redes__link{
    display: inline-block;
    margin: 10px;
}

.footer-logo__image{
    width: 75px;
    padding-right: 900px;
}

.footer-redes__image{
    width: 35px;
}

/*en prueba ese color para esta parte.*/
.footer-copyright{
    text-align: center;
    background-color: rgb(110, 166, 187);
    padding: 2px 0px;
}

