.gyroo_nav{
    display: flex;
}

/*gyroo nav center*/
.name_center{
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    padding-right: 300px;
}

.name_center__gyroo{
    width: auto;
    height: 55px;
}

/*gyroo nav left*/

.apartado__login{
    margin: 10px;
}

.login__link{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.login__link__img{
    width: 20px;
    float: left;
    margin: 0px;
}

.login__link:hover {
    background-color: rgba(230, 232, 250, 0.562);
    border-radius: 35px;
}

/*gyroo nav left*/

.apartado__carrito{
    margin: 10px;
}

.car__link{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.car__link__img{
    width: 20px;
    float: left;
    margin: 0px;
}

.car__link:hover {
    background-color: rgba(230, 232, 250, 0.562);
    border-radius: 35px;
}



