
/*menu__right__general*/

.menu__list__right{
    list-style-type: none;
    display:flex;
    justify-content: right;
}

/*menu__right__item_1*/

.menu__right__item_0{
    text-decoration: none;
}

.menu__right__link_0{
    text-decoration: none;
}

.menu__right__img__sign-in{
    width: 35px;
}

/*Hover*/
.content__user{
    position: relative;
    display: inline-block;
}

.content__user_div{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 0px;
    padding: 12px 16px;
    z-index: 1;
}

.content__user:hover .content__user_div{
    display: block;
}


/*menu__right__item_0*/

.menu__right__item_1{
    text-decoration: none;
    float: right;
}

.menu__right__link_1{
    text-decoration: none;
    
}

.menu__right__img__carrito{
    width: 30px;
    
}

/*Hover*/
.content__carrito{
    position: relative;
    display: inline-block;
}

.content__carrito_div{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 0px;
    padding: 12px 16px;
    z-index: 1;
}

.content__carrito:hover .content__carrito_div{
    display: block;
}





















/*
.apartado__login{
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.login__link{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.login__link__img{
    width: 20px;
    margin: 0px;
}


.login__link:hover .login__link__img{
    background-color: rgba(230, 232, 250, 0.562);
    border-radius: 35px;
}


.apartado__login{
    position: relative;
    display: inline-block;
}

.content__img_1{
    display: none;
    position: absolute;
    background-color: rgba(230, 232, 250, 0.562);
    min-width: 0px;
    padding: 1px 15px;
    z-index: 1;
}

.apartado__login:hover .content__img_1{
    display: block;
}

.apartado__sign_in{
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.sign_in__link{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sign_in__link__img{
    width: 35px;
    margin: 0px;
}


.sign_in__link:hover .sign_in__link__img{
    background-color: rgba(230, 232, 250, 0.562);
    border-radius: 35px;
}


.apartado__sign_in{
    position: relative;
    display: inline-block;
}

.content__img_2{
    display: none;
    position: absolute;
    background-color: rgba(230, 232, 250, 0.562);
    min-width: 0px;
    padding: 1px 15px;
    z-index: 1;
}

.apartado__sign_in:hover .content__img_2{
    display: block;
}

.apartado__carrito{
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.car__link{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.car__link__img{
    width: 25px;
    margin: 0px;
    padding-right: 0px;
}

.car__link:hover {
    background-color: rgba(230, 232, 250, 0.562);
    border-radius: 30px;
}


.apartado__carrito{
    position: relative;
    display: inline-block;
}

.content__carrito{
    display: none;
    position: absolute;
    background-color: rgba(230, 232, 250, 0.562);
    min-width: 0px;
    padding: 1px 15px;
    z-index: 1;
}

.apartado__carrito:hover .content__carrito{
    display: block;
}


@media screen and (max-width:480px) {
    .gyroo_nav{
        display: flex;
    }
    
    
    .name_center{
        height: 25px;
        margin: 0px auto;
        padding-right: 90px;
        padding-top: 30px;
    }
    
    .name_center__gyroo{
        width: auto;
        height: 35px;
    }
    
  
    
    .apartado__login{
        margin: 5px;
    }
    
    .login__link{
        padding: 10px;
        color: black;
    }
    
    .login__link__img{
        width: 20px;
        margin: 0px;
        text-align: justify;
    }
    
    .login__link:hover {
        background-color: rgba(230, 232, 250, 0.562);
        border-radius: 20px;
    }
    
   
    
    .apartado__carrito{
        margin: 5px;
    }
    
    .car__link{
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    
    .car__link__img{
        width: 20px;
        margin: 0px;
    }
    
    .car__link:hover {
        background-color: rgba(230, 232, 250, 0.562);
        border-radius: 30px;
    }
}
*/