.contenedor-productos{
    display: flex;
    justify-content: space-around;
}

.apartado__producto__texto{
    color: rgb(0, 0, 0);
}


/*Dimensiones de los contenedores de los productos*/

.apartado__producto{
    background-color:rgb(240, 240, 240);
    height: 560px;
    width: 330px;
    border-radius: 10px;
}

.apartado__producto:hover {
    border: 1px solid rgb(70, 70, 70);
}

/*Dimensiones de las imagenes de los productos*/

.apartado__producto__img{
    height: 450px;
    width: 330px;
    object-fit: contain;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Boton carrito*/

.button__carrito{
    margin-top: 40px;
    border-radius: 4px;
    border-color: rgb(43, 43, 43);
    background-color: rgb(182, 182, 182);
}

.button__carrito:hover {
    background-color: rgb(116, 116, 116);
}

.apartado__producto__info{
    display: flex;
    justify-content: space-around;
}

/*Carrusel de productos*/

.contenedor_carrusel{
    width: 98%;
    margin-left: 18px;
    display: flex;
    background-color: rgb(236, 236, 236);
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
    white-space: nowrap;
    overflow: auto;
}

.apartado__carrusel__producto{
    background-color: rgb(190, 190, 190);
    height: 350px;
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.apartado__carrusel__producto__img{
    height: 240px;
    width: 100%;
    object-fit: contain;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.apartado__carrusel__producto__info{
    margin-left: 10px;
    display: flex;
}

.apartado__carrusel__producto__info__caract{
    font-size: 2cqh;
}


/*Boton carrito carrusel*/

.apartado__producto__carrusel__button{
    margin-left: 45px;
    margin-top: 25px;
}


.button__carrito:hover {
    background-color: rgb(116, 116, 116);
}

.apartado__producto__info{
    display: flex;
}

/*Responsive*/