/*Titulo*/
#titulo__h2{
    margin-left: 100px;
}

#reseñas{
    padding-top: 50px;
}

/*Seccion reseñas*/

.contenido__reseñas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
    margin-left: 30px;
    margin-right: 30px;
}

.contenedor__reseñas{
    padding: 35px;
    background-color: rgb(201, 201, 201);
    border-radius: 3rem;
}

.contenedor__reseñas__p{
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 1.5rem;
}

.contenedor__reseñas__contenido{
    display: flex;
    align-items: center;
    gap: 30px;
}

.contenedor__reseñas__img #imagen__reseña{
    width: 75px;
    height: auto;
    border-radius: 3rem;
}

.contenedor__reseñas__texto #encabezado__reseña_h4{
    margin: 5px 0;
    font-size: 18px;
}

.contenedor__reseñas__texto #encabezado__reseña_h5{
    color: rgb(36, 36, 36);
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 500;
}

.contenedor__reseñas__ratings .stars{
    color: rgb(255, 153, 0);
    font-size: 18px;
    margin-right: 5px;
    text-decoration: none;
}
